<!DOCTYPE html>
<html lang="en-us">
  <head>
    <link href="//gmpg.org/xfn/11" rel="profile">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="HandheldFriendly" content="True" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <!-- Enable responsiveness on mobile devices-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <!-- CSS -->
    <link rel="stylesheet" href="{{asset "css/poole.css"}}">
    <link rel="stylesheet" href="{{asset "css/syntax.css"}}">
    <link rel="stylesheet" href="{{asset "css/lanyon.css"}}">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=PT+Serif:400,400italic,700%7CPT+Sans:400">

    <!-- Icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{asset "apple-touch-icon-precomposed.png"}}">
    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
  </head>

  <body class="{{body_class}}">

    <!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
      <input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

    <!-- Toggleable sidebar -->
    <div class="sidebar" id="sidebar">
      <div class="sidebar-item">
        <p>{{@blog.description}}</p>
      </div>

      <nav class="sidebar-nav">

          <a class="sidebar-nav-item sidebar-nav-" href="http://davidavs.com">Home</a>
          <a class="sidebar-nav-item sidebar-nav-" href="http://davidavs.com/experience/">Experience</a>
          <a class="sidebar-nav-item sidebar-nav-" href="/">Blog</a>
          <a class="sidebar-nav-item sidebar-nav-" href="https://uk.linkedin.com/in/davidavs">Resume</a>
          <a class="sidebar-nav-item sidebar-nav-" href="http://davidavs.com/contact/">Contact</a>

        {{! The code below dynamically generates a sidebar nav of posts tagged as static pages. }}
        {{! #foreach @blog.navigation}}
          <a class="sidebar-nav-item sidebar-nav-{{slug}}" href="{{url absolute="true"}}">{{label}}</a>
        {{! /foreach}}
      </nav>

      <div class="sidebar-item">
        
      </div>
    </div>

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <h3 class="masthead-title">
            <a href="http://davidavs.com" title="Home">{{@blog.title}}</a>
            |
            <span class="small">{{@blog.description}}</span>
          </h3>
        </div>
      </div>

      <div class="container content">
        {{{body}}}
      </div>
    </div>

    {{#if @blog.navigation}}
      <label for="sidebar-checkbox" class="sidebar-toggle"></label>
    {{/if}}

    {{#if @blog.navigation}}
      <script>
        (function(document) {
          var toggle = document.querySelector('.sidebar-toggle');
          var sidebar = document.querySelector('#sidebar');
          var checkbox = document.querySelector('#sidebar-checkbox');

          document.addEventListener('click', function(e) {
            var target = e.target;

            if(!checkbox.checked ||
               sidebar.contains(target) ||
               (target === checkbox || target === toggle)) return;

            checkbox.checked = false;
          }, false);
        })(document);
      </script>
    {{/if}}

    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}
    
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-9991748-4']);
      _gaq.push(['_setDomainName', 'davidavs.com']);
      _gaq.push(['_setAllowLinker', true]);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>
